<div class="breadcrumb">
	<strong class="breadcrumb-title">Você está na página: </strong>
	<ul class="breadcrumb-list">
		<li class="breadcrumb-item">
			<a class="breadcrumb-link" href="/">Inicial <i class="breadcrumb-icon"></i></a>
		</li>
		<li class="breadcrumb-item">Projetos</li>
	</ul>
</div>

<section class="projects">
    <h1 class="page-title">Projetos</h1>

    <h2 class="page-subtitle">Design</h2>
	<ul class="projects-design-list">
		<li class="projects-design-item"><img class="projects-design-image" src="/assets/app/css/img/site/projects/design/logos/descco.jpg" alt="Descco"></li>
		<li class="projects-design-item"><img class="projects-design-image" src="/assets/app/css/img/site/projects/design/logos/gospel-code.jpg" alt="Gospel Code"></li>
		<li class="projects-design-item"><img class="projects-design-image" src="/assets/app/css/img/site/projects/design/logos/juventude-sarada.jpg" alt="Juventude Sarada"></li>
		<li class="projects-design-item"><img class="projects-design-image" src="/assets/app/css/img/site/projects/design/logos/lines-comunicacao.jpg" alt="Lines comunicação"></li>
		<li class="projects-design-item"><img class="projects-design-image" src="/assets/app/css/img/site/projects/design/logos/nova-geracao.jpg" alt="Nova Geração"></li>
		<li class="projects-design-item"><img class="projects-design-image" src="/assets/app/css/img/site/projects/design/logos/rio-40-graus-limpo.jpg" alt="Rio 40 graus limpo"></li>
		<li class="projects-design-item"><img class="projects-design-image" src="/assets/app/css/img/site/projects/design/logos/livraria-grandes-amigos.jpg" alt="Livraria Grandes Amigos"></li>
	</ul>

	<h2 class="page-subtitle">Desenvolvimento</h2>

	<h2 class="page-subtitle">Open Source</h2>
	<ul>
		<li>SCSS - Framework</li>
		<li>JS - Framework</li>
	</ul>

</section>