<div class="breadcrumb">
	<strong class="breadcrumb-title">Você está na página: </strong>
	<ul class="breadcrumb-list">
		<li class="breadcrumb-item">
			<a class="breadcrumb-link" href="/">Inicial <i class="breadcrumb-icon"></i></a>
		</li>
		<li class="breadcrumb-item">Acessibilidade</li>
	</ul>
</div>

<section class="accessibility">
    <h1 class="page-title">Acessibilidade</h1>
    <h2 class="title">Navegue pelo teclado</h2>
    
    <div class="box">
		<h3 class="subtitle">Para MAC / Apple OS</h3>
		<p class="text--hl">Safari, Chrome e Firefox, utilize a tecla Control + Alt + os números:</p>
		<ul class="default-list">
			<li class="default-item">1 Ir para o conteúdo</li>
			<li class="default-item">2 Constraste</li>
			<li class="default-item">3 Acessibilidade</li>
			<li class="default-item">4 Página Inicial</li>
			<li class="default-item">5 Sobre</li>
			<li class="default-item">6 Artigos</li>
			<li class="default-item">Ou utilize a tecla TAB.</li>
		</ul>
	</div><!-- /box -->
	
	<div class="box">
		<h3 class="subtitle">Para PC / Windows</h3>
		<p class="text--hl">Internet Explorer utilize a tecla Alt + os números e na sequência pressione Enter:</p>
		<p class="text--hl">Firefox utilize a tecla Alt + Shift + os números:</p>
		<p class="text--hl">Chrome utilize a tecla Alt + os números:</p>
		<ul class="default-list">
			<li class="default-item">1 Ir para o conteúdo</li>
			<li class="default-item">2 Constraste</li>
			<li class="default-item">3 Acessibilidade</li>
			<li class="default-item">4 Página Inicial</li>
			<li class="default-item">5 Sobre</li>
			<li class="default-item">6 Artigos</li>
			<li class="default-item">Ou utilize a tecla TAB.</li>
		</ul>
	</div><!-- /box -->
	
	<h2 class="title">Navegue por comando de voz</h2>
	
	<div class="box">
		<p class="text--hl">Através de termos pré-definidos você pode navegar pelo site utilizando a sua voz:</p>
		<p class="text--hl">Comandos de voz para acesso a Barra de Acessibilidade:</p>
		<ul class="default-list">
			<li class="default-item">"Conteúdo"</li>
			<li class="default-item">"Contraste"</li>
			<li class="default-item">"Acessibilidade"</li>
		</ul>
	</div><!-- /box -->
	
	<%/*
	<h2 class="title">Tamanho da letra</h2>
	
	<div class="box">
		<p class="text">As páginas de conteúdo possuem, no canto superior direito, botões que controlam o tamanho das letras. Esse recurso possibilita a melhoria na leitura de grandes blocos de texto, na tela do computador.</p>
		<p class="text">Fonte Padrão - Permite ao usuário retornar ao tamanho padrão das letras.</p>
		<p class="text">Diminuir Fonte - Permite ao usuário diminuir em até três vezes o tamanho normal das letras.Aumentar Fonte Permite ao usuário aumentar em até três vezes o tamanho normal das letras.</p>
	</div><!-- /box -->
	*/%>
	
	<h2 class="title">Constraste</h2>
	
	<div class="box">
		<p class="text">As páginas de conteúdo possuem, no canto superior direito, o botão que controla o contraste da página. Esse recurso possibilita uma melhor visualização do conteúdo para pessoas portadoras de deficiência visual.</p>
		<p class="text">Contraste - Permite ao usuário ativar e desativar o Contraste da página.</p>
	</div><!-- /box -->
	
	<%/*
	<h2 class="title">Acessibilidade WCAG e E-GOV</h2>
	
	<div class="box">
		<p class="text">Este site se encontra dentro dos princípios de acessibilidade preconizados pela lei federal de acessibilidade (Lei no. 10 098, de 19 de dezembro de 2000), que estabelece normas gerais e critérios básicos para a promoção da acessibilidade das pessoas portadoras de deficiência ou com mobilidade reduzida e dá outras providências.</p>
	</div><!-- /box -->
	*/%>
</section>