<div class="breadcrumb">
	<strong class="breadcrumb-title">Você está na página: </strong>
	<ul class="breadcrumb-list">
		<li class="breadcrumb-item">
			<a class="breadcrumb-link" href="/">Inicial <i class="breadcrumb-icon"></i></a>
		</li>
		<li class="breadcrumb-item">Contato</li>
	</ul>
</div>

<section class="contact">
    <h1 class="page-title">Contato</h1>
    
    <form class="form" action="">
        <fieldset class="form-fieldset">
            <legend class="form-legend">Formulário de contato</legend>
            <p class="form-group">
                <label class="form-label" for="">Nome</label>
                <input class="form-field" name="name" type="text" placeholder="" data-rule-required="true" data-msg-required="Campo obrigatório" aria-required="true">
            </p>
            <p class="form-group">
                <label class="form-label" for="">Assunto</label>
                <input class="form-field" name="subject" type="text" placeholder="" data-rule-required="true" data-msg-required="Campo obrigatório" aria-required="true">
            </p>
            <p class="form-group">
                <label class="form-label" for="">Mensagem</label>
                <textarea class="form-field--textarea" name="message" placeholder="" data-rule-required="true" data-msg-required="Campo obrigatório" aria-required="true"></textarea>
            </p>
            <p class="form-actions">
                <input class="form-actions-submit" type="submit" value="Enviar">
            </p>
        </fieldset>
    </form>
</section>