<section class="categories">
    <h1 class="page-title">Artigos</h1>
</section>

<div> 
    <% if (site.categories.length) { %>	
        <% site.categories.sort('name').each(function(item){ %>
		    <h2 class="title"><%= item.name %> - <%= item.posts.length %> artigos</h2>
		    <ul class="default-list">
		        <% site.posts.sort('date', -1).forEach(function(it){ %>
			        <% if (it.categories.length == 1 && it.categories.data[0]._id == item._id){ %>
		   	        <li class="default-item"><a class="default-link" href="<%= config.root %><%= it.path %>"><%= it.title %></a></li>
			        <% } %>
		        <% }); %>
		   </ul>
	   <% }); %>
    <% } %>
</div>