<div class="breadcrumb">
	<strong class="breadcrumb-title">Você está na página: </strong>
	<ul class="breadcrumb-list">
		<li class="breadcrumb-item">Inicial</li>
	</ul>
</div><!-- /breadcrumb -->
<section class="home">

	<p class="description-highlight">Me chamo Hemerson Vianna, sou desenvolvedor Web. Com 29 anos de experiência de vida, gosto de compartilhar ideias sobre TI e outros assuntos. Tenho uma experiência de 7 anos com a área web (design, front-end e back-end), com foco no Front-End. Querendo saber mais, acesse o link <a class="btn-link" href="/about">Sobre</a></p>

	<h3 class="page-subtitle">Últimos artigos</h3>
	
	<ul>
		<% page.posts.each(function(post){ %>
			<%- partial('_partial/item-post', {post: post, index: true}) %>		
		<% }) %>
	</ul>
	<% if (page.total > 1){ %>
		<%- partial('_partial/pagination') %>
	<% } %>

	<h3 class="page-subtitle">Tweets</h3>
  	<div id="tweets"></div>
</section>