<%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    
    <div class="content">
      <div class="content-row">
        <%- body %>
        <% if (is_post()){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
    </div>
    
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>    
    <%- partial('_partial/scripts') %>
  </body>
</html>