<% if (page.path.indexOf('contact') > -1) { %>
<%- partial('page-default') %>
<% } else if (page.path.indexOf('about') > -1) { %>
<%- partial('page-default') %>
<% } else if (page.path.indexOf('articles') > -1) { %>
<%- partial('page-default') %>
<% } else if (page.path.indexOf('accessibility') > -1) { %>
<%- partial('page-default') %>
<% } else if (page.path.indexOf('projects') > -1) { %>
<%- partial('page-default') %>
<% } else if (page.path.indexOf('lab') > -1) { %>
<%- partial('page-default') %>
<% } else { %>
<%- partial('_partial/article', {post: page, index: false}) %>
<% } %>

