<div class="breadcrumb">
	<strong class="breadcrumb-title">Você está na página: </strong>
	<ul class="breadcrumb-list">
		<li class="breadcrumb-item">
			<a class="breadcrumb-link" href="/">Inicial <i class="breadcrumb-icon"></i></a>
		</li>
		<li class="breadcrumb-item">Sobre</li>
	</ul>
</div>

<section class="about">
    <h1 class="page-title">Sobre</h1>
    <div class="box">
        <p class="text">Costumo e gosto de desenvolver sempre pensando e avaliando as melhores práticas, muito preocupado com a performance e acessibilidade.</p>
        <p class="text">Sempre buscando estar atualizado e agora mais empenhado nos projetos open sources, compartilhando e trocando ideias sobre o conhecimento web.</p>
    </div><!-- /box -->    
    <h2 class="title">Pequena história</h2>    
    <div class="box">
		<p class="text">Depois de algumas profissões como Professor particular (ensino fundamental), Bombeiro florestal (NUPIF -IEF), Soldado do exército (EsCom), Auxiliar de informática, Babá, Designer gráfico e Instrutor de informática. Acabei descobrindo o mundo Web e atuando como Web designer, Front-End e Back-End.</p>
		<p class="text">O que mais me chamou a atenção e que motiva a cada dia é ser um Front-Ender. Mas gosto de pensar que sou um "Desenvolvedor de necessidade". O importante é não criar limites, e sempre que puder ultrapassar as fronteiras. Isso foi um dos motivos que me fez cursar na faculdade, Gestão da Tecnologia de Informação.</p>
	</div><!-- /box -->	
	<h2 class="title">Experiência</h2>   
    <div class="box">
        <p class="text">Proevo Soluções em TI - Designer, Front-End e Back-End</p>
        <p class="text">Comprafácil - Front-End</p>    
        <p class="text">Jogatina - Front-End</p>    
        <p class="text">Mongeral Aegon - Front-End</p>        
        <p class="text">Mais detalhes, podem ser vistos na minha página no <a class="btn-link" href="https://www.linkedin.com/in/hemersonvianna">LinkedIn</a></p>
    </div><!-- /box -->    
    <h2 class="title">Habilidades</h2>    
    <div class="box">
        <ul class="tags-list">
            <li class="tags-item">Design</li>
            <li class="tags-item">Front-End</li>
            <li class="tags-item">Back-End</li>
            <li class="tags-item">Gestão em TI</li>
        </ul>
	</div><!-- /box -->
	<h2 class="title">Recursos já utilizados</h2>
	<p class="text">Os que já utilizei em algum projeto e não utilizo frequentemente no momento.</p>
    <div class="box">
		<ul class="tags-list">
			<li class="tags-item">DojoJS</li>
			<li class="tags-item">PHP</li>
			<li class="tags-item">Zend</li>
			<li class="tags-item">MySQL</li>
			<li class="tags-item">Joomla</li>
			<li class="tags-item">Wordpress</li>
			<li class="tags-item">SVN</li>			
		</ul>
	</div><!-- /box -->
	<h2 class="title">Recursos Experimentais</h2>
    <p class="text">Os que já utilizei em alguns experimentos pessoais.</p>    
	<div class="box">
		<ul class="tags-list">
			<li class="tags-item">NodeJS</li>
			<li class="tags-item">ExpressJS</li>
			<li class="tags-item">MochaJS</li>
			<li class="tags-item">ChaiJS</li>
			<li class="tags-item">SinonJS</li>
			<li class="tags-item">MongoDB</li>
			<li class="tags-item">Mongoose</li>
			<li class="tags-item">Ruby</li>
			<li class="tags-item">Rails</li>
			<li class="tags-item">SQLite</li>
			<li class="tags-item">Gulp</li>
		</ul>
	</div><!-- /box -->    
    <h2 class="title">Recursos sendo utilizados</h2>
    <p class="text">Os que mais utilizo no momento.</p>  
    <div class="box">
		<ul class="tags-list">
			<li class="tags-item">HTML 5</li>
			<li class="tags-item">CSS 3</li>
			<li class="tags-item">Javascript</li>
			<li class="tags-item">jQuery</li>
			<li class="tags-item">Jekyll</li>
			<li class="tags-item">Sass</li>
			<li class="tags-item">Compass</li>
			<li class="tags-item">Grunt</li>
			<li class="tags-item">KarmaJS</li>
			<li class="tags-item">PhantomJS</li>
			<li class="tags-item">Jasmine</li>
			<li class="tags-item">Git</li>
		</ul>
	</div><!-- /box -->       
    <h2 class="title">Recursos para estudo</h2>
    <p class="text">Os que pretendo utilizar e estudar.</p>    
	<div class="box">
		<ul class="tags-list">
			<li class="tags-item">Python</li>
			<li class="tags-item">Django</li>
			<li class="tags-item">Jenkins</li>
			<li class="tags-item">ReactJS</li>
			<li class="tags-item">AngularJS</li>
		</ul>
	</div><!-- /box -->       
    <h2 class="title">Softwares</h2>        
	<div class="box">
		<ul class="tags-list">
			<li class="tags-item">Photoshop</li>
			<li class="tags-item">Illustrator</li>
			<li class="tags-item">Corel Draw</li>
			<li class="tags-item">Sublime Text</li>
			<li class="tags-item">Bracket</li>
			<li class="tags-item">Atom</li>
			<li class="tags-item">WebStorm (atual editor)</li>
			<li class="tags-item">Rails installer</li>
			<li class="tags-item">Terminal</li>
			<li class="tags-item">MySQL Workbench</li>
			<li class="tags-item">Windows 8</li>
			<li class="tags-item">Linux - Ubuntu 14</li>
			<li class="tags-item">Slack</li>
		</ul>
    </div><!-- /box -->
</section>