<div class="breadcrumb">
	<strong class="breadcrumb-title">Você está na página: </strong>
	<ul class="breadcrumb-list">
		<li class="breadcrumb-item">
			<a class="breadcrumb-link" href="/">Inicial <i class="breadcrumb-icon"></i></a>
		</li>
		<li class="breadcrumb-item">Lab</li>
	</ul>
</div>

<section class="lab">
    <h1 class="page-title">Lab</h1>
</section>