<%
var title = '';
var name = '';
if (page.category) title = page.category; name = 'Categoria';
if (page.tag) title = page.tag; name = 'Categoria';
if (page.archive){
  name = 'Arquivo';
  if (page.year) title = page.month + '/' + page.year;
  else title = __('archive_a');
}
%>
<section class="archives">
  <h1 class="page-title"><%= name %></h1>
  <h2 class="title"><%= title %></h2>

  <div>
    <ul class="default-list">
      <% page.posts.each(function(item){ %>  
        <li class="default-item">
          <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time> - 
          <a class="default-link" href="<%- config.root %><%- item.path %>"><%= item.title %></a>
        </li>
      <% }); %>
    </ul>
  </div>
</section>