<article class="post" role="article">
  <header class="post-header">
    <h1 class="post-title"><%- post.title %></h1>
    <p class="post-meta">Criado em <span itemprop="datePublished"><%- date(page.date, config.date_format) %></span> <% if(page.update) {%>- Atualizado em <span><%- date(page.update, config.date_format) %></span><% }%></p>
  </header>

  <div class="post-content" itemscope="itemscope" itemtype="http://schema.org/Article">
    <%- post.content %>
  </div>

  <% if (!index && post.comments && theme.disqus_shortname){ %>
    <div id="disqus_thread"></div>
  <% } %>
</article>
