<footer class="footer">
	<div class="footer-core">
		<div class="footer-links">
			<h3 class="footer-links-title">Páginas</h3>
			<nav class="footermenu-nav" role="navigation">
				<ul class="footermenu-list" role="menubar">
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/">
							<span class="footermenu-text">Inicial</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/about/">
							<span class="footermenu-text">Sobre</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/categories/">
							<span class="footermenu-text">Artigos</span>
						</a>
					</li>
					<%/*
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/projects/">
							<span class="footermenu-text">Projetos</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/lab/">
							<span class="footermenu-text">Lab</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/contact/">
							<span class="footermenu-text">Contato</span>
						</a>
					</li>
					*/%>
				</ul>
			</nav>
		</div><!-- /footer-links -->

		<div class="footer-links">
			<h3 class="footer-links-title">Categorias</h3>
			<nav class="footermenu-nav" role="navigation">
				<%- list_categories() %>
			</nav>
		</div><!-- /footer-links -->

		<div class="footer-links">
			<h3 class="footer-links-title">Feed</h3>
			<nav class="footermenu-nav" role="navigation">
				<ul class="footermenu-list" role="menubar">
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/atom.xml">
							<span class="footermenu-text">RSS Feed</span>
						</a>
					</li>
				</ul>
			</nav>
		</div><!-- /footer-links -->

		<div class="footer-links">
			<h3 class="footer-links-title">Sobre mim</h3>
			<nav class="footermenu-nav" role="navigation">
				<ul class="footermenu-list" role="menubar">
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="mailto:hemerson.lourenco@gmail.com">
							<span class="footermenu-text">E-mail</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://twitter.com/hemersonvianna">
							<span class="footermenu-text">Twitter</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://www.facebook.com/hemerson.lourenco">
							<span class="footermenu-text">Facebook</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://plus.google.com/103702557140410558994?rel=author">
							<span class="footermenu-text">Google+</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://github.com/hemersonvianna">
							<span class="footermenu-text">Github</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://www.linkedin.com/in/hemersonvianna">
							<span class="footermenu-text">Linkedin</span>
						</a>
					</li>
				</ul>
			</nav>
		</div><!-- /footer-links -->

		<div class="footer-links">
			<h3 class="footer-links-title">Links</h3>
			<nav class="footermenu-nav" role="navigation">
				<ul class="footermenu-list" role="menubar">
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="http://www.vitorbritto.com.br/blog/" target="_blank">
							<span class="footermenu-text">Vitor Brito</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="http://blog.da2k.com.br/" target="_blank">
							<span class="footermenu-text">Fernando Daciuk</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="http://willianjusten.com.br/" target="_blank">
							<span class="footermenu-text">Willian Justen</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="http://www.felipefialho.com/blog/" target="_blank">
							<span class="footermenu-text">Felipe Fialho</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="http://nomadev.com.br/" target="_blank">
							<span class="footermenu-text">Suissa</span>
						</a>
					</li>
				</ul>
			</nav>
		</div><!-- /footer-links -->

		<div class="footer-links">
			<h3 class="footer-links-title">Outros assuntos</h3>
			<nav class="footermenu-nav" role="navigation">
				<ul class="footermenu-list" role="menubar">
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="http://www.calisteniabrasil.com.br/" target="_blank">
							<span class="footermenu-text">Calistenia Brasil</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="http://www.nhk.or.jp/lesson/portuguese/learn/list/" target="_blank"><span class="footermenu-text">NHK</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://www.youtube.com/user/explicasax/videos" target="_blank">	<span class="footermenu-text">Explica Sax</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://www.youtube.com/user/bboyalemao/videos" target="_blank">	<span class="footermenu-text">BBoy Alemão</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="http://www.prefiroviajar.com.br" target="_blank">
							<span class="footermenu-text">Prefiro viajar</span>
						</a>
					</li>
				</ul>
			</nav>
		</div><!-- /footer-links -->
	</div><!-- /footer-core -->
	<div class="footer-bottom">
	   <p>&copy; Copyright <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
	</div><!-- /footer-bottom -->
</footer><!-- /footer -->