<header class="header" role="banner">
    <div class="header-top">
      <div class="header-core">
      <nav class="accessibilitymenu" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" role="navigation">
        <ul class="accessibilitymenu-list"><strong class="hide" itemprop="about">Menu para acessibilidade</strong>
           <li class="accessibilitymenu-item">
            <a class="accessibilitymenu-link js-scroll" data-target="content" href="/" itemprop="url" accesskey="1">
              <span class="accessibilitymenu-text" itemprop="name">Conteúdo [1]</span>
            </a>
          </li>
          <li class="accessibilitymenu-item">
            <a class="accessibilitymenu-link js-contrast" href="/" itemprop="url" accesskey="2">
              <span class="accessibilitymenu-text" itemprop="name">Contraste [2]</span>
            </a>
          </li>
          <li class="accessibilitymenu-item">
            <a class="accessibilitymenu-link js-accessibility" href="/accessibility/" itemprop="url" accesskey="3">
              <span class="accessibilitymenu-text" itemprop="name">Acessibilidade [3]</span>
            </a>
          </li>
        </ul><!-- /accessibilitymenu-list -->
      </nav><!-- /accessibilitymenu -->

      <nav class="mainmenu" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" role="navigation">
        <strong class="hide" itemprop="about">Menu principal</strong>
        <ul class="mainmenu-list" role="menubar">
           <li class="mainmenu-item" role="menuitem">
            <a class="mainmenu-link" href="/" itemprop="url" accesskey="4">
              <span class="mainmenu-text" itemprop="name">Inicial [4]</span>
            </a>
          </li>
          <li class="mainmenu-item" role="menuitem">
            <a class="mainmenu-link on" href="/about/" itemprop="url" accesskey="5">
               <span class="mainmenu-text" itemprop="name">Sobre [5]</span>
            </a>
          </li>
          <li class="mainmenu-item" role="menuitem">
            <a class="mainmenu-link" href="/categories/" itemprop="url" accesskey="6">
               <span class="mainmenu-text" itemprop="name">Artigos [6]</span>
            </a>
          </li>
          <%/* <li class="mainmenu-item" role="menuitem">
            <a class="mainmenu-link" href="/projects/" itemprop="url" accesskey="7">
               <span class="mainmenu-text" itemprop="name">Projetos [7]</span>
            </a>
          </li>
          <li class="mainmenu-item" role="menuitem">
            <a class="mainmenu-link" itemprop="url" accesskey="8">
               <span class="mainmenu-text" itemprop="name">Lab [8]</span>
            </a>
          </li>
          <li class="mainmenu-item" role="menuitem">
            <a class="mainmenu-link" href="/contact/" itemprop="url" accesskey="9">
               <span class="mainmenu-text" itemprop="name">Contato [9]</span>
            </a>
          </li>
          {% for page in site.pages %}
            {% if page.title %}
             <li class="mainmenu-item" role="menuitem">
              <a class="mainmenu-link" href="{{ page.url | prepend: site.baseurl }}" itemprop="url" accesskey="{{ forloop.index }}">
                 <span class="mainmenu-text" itemprop="name">{{ page.title }} [{{ forloop.index0 }}]</span>
              </a>
            </li>
            {% endif %}
          {% endfor %}
          */%>
        </ul><%/*/mainmenu-list */%>
      </nav><%/* /mainmenu */%>
    </div><%/* /header-core */%>
  </div><%/* /header-top */%>

    <div class="header-bottom">
    <div class="header-core">
      <h1 class="logotype"><a class="logotype-link" href="<%- url_for() %>"><%= config.title %></a></h1>

      <button class="mobilemenu js-mobilemenu">
         <span class="mobilemenu-text">Menu</span>
      </button>

      <nav  class="socialmenu" itemscope="itemscope" itemtype="https://schema.oemrg/SiteNavigationElement" role="navigation">
        <strong class="hide" itemprop="about">Menu das redes sociais</strong>
              <ul class="socialmenu-list" role="menubar">
                  <li class="socialmenu-item" role="menuitem">
                      <a class="socialmenu-link social-twitter" href="https://twitter.com/hemersonvianna" itemprop="url">
                          <span class="socialmenu-text" itemprop="name">Twitter</span>
                      </a>
                  </li>
                  <li class="socialmenu-item" role="menuitem">
                      <a class="socialmenu-link social-facebook" href="https://www.facebook.com/hemerson.lourenco" itemprop="url">
                          <span class="socialmenu-text" itemprop="name">Facebook</span>
                      </a>
                  </li>
                  <li class="socialmenu-item" role="menuitem">
                      <a class="socialmenu-link social-googleplus" href="https://plus.google.com/103702557140410558994" itemprop="url">
                          <span class="socialmenu-text" itemprop="name">Google plus</span>
                      </a>
                  </li>
                  <li class="socialmenu-item" role="menuitem">
                      <a class="socialmenu-link social-github" href="https://github.com/hemersonvianna" itemprop="url">
                          <span class="socialmenu-text" itemprop="name">Github</span>
                      </a>
                  </li>
                  <li class="socialmenu-item" role="menuitem">
                      <a class="socialmenu-link social-linkedin" href="https://www.linkedin.com/in/hemersonvianna" itemprop="url">
                          <span class="socialmenu-text" itemprop="name">LinkedIn</span>
                      </a>
                  </li>
              </ul><%/* /socialmenu-list */%>
          </nav><%/* /socialmenu */%>
        </div><%/* /header-core */%>
    </div><%/* /header-bottom */%>
</header><%/* /header */%>