<li class="posts-item">
	<strong class="post-title"><a class="post-title-link" href="<%- url_for(post.path) %>"><%- post.title %></a></strong>
	<span class="post-date">
		<em class="post-category">
			<span class="icon post-category-arrow">&#xf054;</span>
			<% if (post.categories && post.categories.length){ %>
				<%- list_categories(post.categories, { show_count: false}) %>
			<% } %>
		</em> 
		<%- date(post.date, config.date_format) %>
	</span>

	<strong class="post-content">
		<% if (post.excerpt){ %>
			<%- post.excerpt %>...
		<% } else { %>
			<%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %>...
		<% } %>
	</strong>
	<a class="post-link" href="<%- url_for(post.path) %>">Leia mais <%- post[1] %></a>
</li>